@model eShop.Areas.Admin.Models.Sidebar

@{
    ViewBag.Title = "EditSlidebar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Edit Sidebar</h2>
@if (@TempData["mess"] != null)
    {
<div class="alert alert-success">
    @TempData["mess"]
</div>
 }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit Sidebar" class="btn alert-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
